html,
body {
  background-image: url('istockphoto.jpg');
  margin: 0;
  height: 98vh;
}

div {
  margin: 5px;
  border: grey solid 2px;
}

#container {
  border: yellow solid 2px;
  display: grid;
  grid-template: 1fr 1fr/1fr 1fr;
  height: 100%;
}

.card-back {
  background-color: white;
  background-image: url('./cards/card-deck/images/backs/blue.svg');
  background-repeat: no-repeat;
  background-position: center;
  height: 312px;
  width: 224px;
  margin: auto;
}

.card {
  background-color: white;
  background-repeat: no-repeat;
  background-position: center;
  height: 312px;
  width: 224px;
  margin: auto;
}

#deck .card-back {
  background-color: white;
  background-image: url('./cards/card-deck/images/backs/blue.svg');
  background-repeat: no-repeat;
  background-position: center;
  height: 312px;
  width: 224px;
  margin: auto;
}

#dealer-side {
  border: solid red 2px;
  display: flex;
}

#player-side {
  border: solid blue 2px;
  display: flex;
}

#deck {
  border: solid green 2px;
}

.cA {
  background-image: url('./cards/card-deck/images/clubs/clubs-A.svg');
}

.cJ {
  background-image: url('./cards/card-deck/images/clubs/clubs-J.svg');
}

.cK {
  background-image: url('./cards/card-deck/images/clubs/clubs-K.svg');
}

.cQ {
  background-image: url('./cards/card-deck/images/clubs/clubs-Q.svg');
}

.c2 {
  background-image: url('./cards/card-deck/images/clubs/clubs-r02.svg');
}

.c3 {
  background-image: url('./cards/card-deck/images/clubs/clubs-r03.svg');
}

.c4 {
  background-image: url('./cards/card-deck/images/clubs/clubs-r04.svg');
}

.c5 {
  background-image: url('./cards/card-deck/images/clubs/clubs-r05.svg');
}

.c6 {
  background-image: url('./cards/card-deck/images/clubs/clubs-r06.svg');
}

.c7 {
  background-image: url('./cards/card-deck/images/clubs/clubs-r07.svg');
}

.c8 {
  background-image: url('./cards/card-deck/images/clubs/clubs-r08.svg');
}

.c9 {
  background-image: url('./cards/card-deck/images/clubs/clubs-r09.svg');
}

.c10 {
  background-image: url('./cards/card-deck/images/clubs/clubs-r10.svg');
}

.dA {
  background-image: url('./cards/card-deck/images/diamonds/diamonds-A.svg');
}

.dJ {
  background-image: url('./cards/card-deck/images/diamonds/diamonds-J.svg');
}

.dK {
  background-image: url('./cards/card-deck/images/diamonds/diamonds-K.svg');
}

.dQ {
  background-image: url('./cards/card-deck/images/diamonds/diamonds-Q.svg');
}

.d2 {
  background-image: url('./cards/card-deck/images/diamonds/diamonds-r02.svg');
}

.d3 {
  background-image: url('./cards/card-deck/images/diamonds/diamonds-r03.svg');
}

.d4 {
  background-image: url('./cards/card-deck/images/diamonds/diamonds-r04.svg');
}

.d5 {
  background-image: url('./cards/card-deck/images/diamonds/diamonds-r05.svg');
}

.d6 {
  background-image: url('./cards/card-deck/images/diamonds/diamonds-r06.svg');
}

.d7 {
  background-image: url('./cards/card-deck/images/diamonds/diamonds-r07.svg');
}

.d8 {
  background-image: url('./cards/card-deck/images/diamonds/diamonds-r08.svg');
}

.d9 {
  background-image: url('./cards/card-deck/images/diamonds/diamonds-r09.svg');
}

.d10 {
  background-image: url('./cards/card-deck/images/diamonds/diamonds-r10.svg');
}
