html,
body {
  background-image: url('istockphoto.jpg');
  margin: 0;
  height: 98vh;
  color: white;
}

div {
  margin: 5px;
  border: grey solid 2px;
}

#container {
  border: yellow solid 2px;
  display: grid;
  grid-template: 1fr 1fr/1fr 1fr;
  height: 100%;
}

.card {
  background-color: white;
  background-repeat: no-repeat;
  background-position: center;
  height: 312px;
  width: 224px;
  margin: auto;
}

#dealer-side {
  border: solid red 2px;
  display: flex;
  flex-wrap: wrap;
}

#player-side {
  border: solid blue 2px;
  display: flex;
  flex-wrap: wrap;
}

#deck {
  border: solid green 2px;
  display: flex;
}

.AceC {
  background-image: url('./cards/card-deck/images/clubs/AceC.svg');
}

.JackC {
  background-image: url('./cards/card-deck/images/clubs/JackC.svg');
}

.KingC {
  background-image: url('./cards/card-deck/images/clubs/KingC.svg');
}

.QueenC {
  background-image: url('./cards/card-deck/images/clubs/QueenC.svg');
}

.TwoC {
  background-image: url('./cards/card-deck/images/clubs/2C.svg');
}

.ThreeC {
  background-image: url('./cards/card-deck/images/clubs/3C.svg');
}

.FourC {
  background-image: url('./cards/card-deck/images/clubs/4C.svg');
}

.FiveC {
  background-image: url('./cards/card-deck/images/clubs/5C.svg');
}

.SixC {
  background-image: url('./cards/card-deck/images/clubs/6C.svg');
}

.SevenC {
  background-image: url('./cards/card-deck/images/clubs/7C.svg');
}

.EightC {
  background-image: url('./cards/card-deck/images/clubs/8C.svg');
}

.NineC {
  background-image: url('./cards/card-deck/images/clubs/9C.svg');
}

.TenC {
  background-image: url('./cards/card-deck/images/clubs/10C.svg');
}

.AceD {
  background-image: url('./cards/card-deck/images/diamonds/AceD.svg');
}

.JackD {
  background-image: url('./cards/card-deck/images/diamonds/JackD.svg');
}

.KingD {
  background-image: url('./cards/card-deck/images/diamonds/KingD.svg');
}

.QueenD {
  background-image: url('./cards/card-deck/images/diamonds/QueenD.svg');
}

.TwoD {
  background-image: url('./cards/card-deck/images/diamonds/2D.svg');
}

.ThreeD {
  background-image: url('./cards/card-deck/images/diamonds/3D.svg');
}

.FourD {
  background-image: url('./cards/card-deck/images/diamonds/4D.svg');
}

.FiveD {
  background-image: url('./cards/card-deck/images/diamonds/5D.svg');
}

.SixD {
  background-image: url('./cards/card-deck/images/diamonds/6D.svg');
}

.SevenD {
  background-image: url('./cards/card-deck/images/diamonds/7D.svg');
}

.EightD {
  background-image: url('./cards/card-deck/images/diamonds/8D.svg');
}

.NineD {
  background-image: url('./cards/card-deck/images/diamonds/9D.svg');
}

.TenD {
  background-image: url('./cards/card-deck/images/diamonds/10D.svg');
}

.AceH {
  background-image: url('./cards/card-deck/images/hearts/AceH.svg');
}

.JackH {
  background-image: url('./cards/card-deck/images/hearts/JackH.svg');
}

.KingH {
  background-image: url('./cards/card-deck/images/hearts/KingH.svg');
}

.QueenH {
  background-image: url('./cards/card-deck/images/hearts/QueenH.svg');
}

.TwoH {
  background-image: url('./cards/card-deck/images/hearts/2H.svg');
}

.ThreeH {
  background-image: url('./cards/card-deck/images/hearts/3H.svg');
}

.FourH {
  background-image: url('./cards/card-deck/images/hearts/4H.svg');
}

.FiveH {
  background-image: url('./cards/card-deck/images/hearts/5H.svg');
}

.SixH {
  background-image: url('./cards/card-deck/images/hearts/6H.svg');
}

.SevenH {
  background-image: url('./cards/card-deck/images/hearts/7H.svg');
}

.EightH {
  background-image: url('./cards/card-deck/images/hearts/8H.svg');
}

.NineH {
  background-image: url('./cards/card-deck/images/hearts/9H.svg');
}

.TenH {
  background-image: url('./cards/card-deck/images/hearts/10H.svg');
}

.AceS {
  background-image: url('./cards/card-deck/images/spades/AceS.svg');
}

.JackS {
  background-image: url('./cards/card-deck/images/spades/JackS.svg');
}

.KingS {
  background-image: url('./cards/card-deck/images/spades/KingS.svg');
}

.QueenS {
  background-image: url('./cards/card-deck/images/spades/QueenS.svg');
}

.TwoS {
  background-image: url('./cards/card-deck/images/spades/2S.svg');
}

.ThreeS {
  background-image: url('./cards/card-deck/images/spades/3S.svg');
}

.FourS {
  background-image: url('./cards/card-deck/images/spades/4S.svg');
}

.FiveS {
  background-image: url('./cards/card-deck/images/spades/5S.svg');
}

.SixS {
  background-image: url('./cards/card-deck/images/spades/6S.svg');
}

.SevenS {
  background-image: url('./cards/card-deck/images/spades/7S.svg');
}

.EightS {
  background-image: url('./cards/card-deck/images/spades/8S.svg');
}

.NineS {
  background-image: url('./cards/card-deck/images/spades/9S.svg');
}

.TenS {
  background-image: url('./cards/card-deck/images/spades/10S.svg');
}

.card-back {
  background-color: white;
  background-image: url('./cards/card-deck/images/backs/blue.svg');
  background-repeat: no-repeat;
  background-position: center;
  height: 312px;
  width: 224px;
  margin: auto;
}

#hit {
  visibility: hidden;
}

#stand {
  visibility: hidden;
}
